
div.bubble
{
    width: 550px;
    
    border: 2px solid #C3F1FF;
    background-color: #FFFFFF;
    
    -moz-box-shadow: 0px 0px 20px 0px #000000, inset 0 0 7px #000000;
    -webkit-box-shadow: 0px 0px 20px 0px #000000, inset 0 0 7px #000000;
    box-shadow: 0px 0px 20px 0px #000000, inset 0 0 7px #000000;
    
    background:-moz-linear-gradient(top, #0094CF, #0C2C5B); /* Firefox */
    background:-webkit-linear-gradient(top, #0094CF, #0C2C5B); /* Safari, Chrome */
    background:-o-linear-gradient(top, #0094CF, #0C2C5B); /* Opera */
    background:-ms-linear-gradient(top, #0094CF, #0C2C5B); /* IE */
    background:linear-gradient(top, #0094CF, #0C2C5B); /* W3C Standard */
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    
    position: absolute;
    z-index: 50;
    left: 0;
    right: 0;
    top: 15;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    
    overflow: hidden;
    outline: none;
    cursor: pointer;
    
    text-align: left;
    font-family: 'GraphicPixel', sans-serif;
    color: #FFFFFF;
    text-shadow: -1px 0 #084173, 0 1px #084173, 1px 0 #084173, 0 -1px #084173;
    font-size: 17px;
}

span.bubble
{
    color: #FCDA5C;
}